<main>
  <div id="header-div"
       class="header">
    <h1 class="">Link Shortener</h1>
  </div>

  <div id="content-div" class="content">
    <div id="input-div" class="input-url">
      <input type="text"
             class="text-field content-row"
             placeholder="Enter URL here . . ."
             id="input-field"
             required />
      <button id="shorten"
              type="button"
              class="content-row button">Shorten URL</button>
      <button type="button"
              id="clear-btn"
              class="content-row button">Clear</button>
    </div>

    <div id="output-div" class="output-container">
      <div class="content-row"
           id="new-url-label">Your short URL:</div>
      <div id="new-url"
           class="content-row"></div>
      <button type="button"
              id="copy-btn"
              data-clipboard-target="#new-url"
              class="content-row button">Copy</button>
    </div>
    <div class="error"
         id="error-div">
      <p class="content-row"
         id="error-text"></p>
    </div>
  </div>
</main>